.btn-close{
    // padding-top: -30px;
    display: flex;
    justify-content: right;
    align-self: end;
    // margin-left: 500px;
   
    button{
        width: 15px;
        height: 50px;
        display: flex;
        align-items:center;
        justify-content: center;
       
    }
}