.exit-btn {
    margin-right: 40px;
    background-color: black;
    color: white;
}

.enter{
    background-color: green;
    margin-right: 40px;
    color: white;
}

.enter2{
    background-color: gold;
    margin-right: 40px;
    color: white;
}